# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store

# Test binary, built with `go test -c`
*.test
*.db*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
logs
urls*
*.txt
*/reports/*.html
*.json

# Dependency directories (remove the comment below to include it)
# vendor/
*release
*reports
.vscode
.idea
.trae

*docs/POCLIST.md*

*pocs/afrog-pocs/e-privbox/
*pocs/afrog-pocs/a-private/

/afrog-pocs/
*.afg

*pocs/deleted*
*pocs/peiqi*
*pocs/test*


*cmd/afrog/afrog.ico
*cmd/afrog/build.cmd
*cmd/afrog/main.rc
*cmd/afrog/main.syso

*cmd/sqlite*
*cmd/pool*
*cmd/server*
*cmd/update*
*cmd/ants*
*cmd/api*
*cmd/celgo*
*cmd/ctx*
*cmd/download*
*cmd/fingerprint*
*cmd/flag*
*cmd/html*
*cmd/poc*
*cmd/rules*
*cmd/socket*
*cmd/title*
*cmd/workgroup*
*cmd/xray*

*dist/
