id: n8n-config

info:
  name: N8n - Config
  author: icarot
  severity: medium
  description: |
    The `/rest/settings` endpoint in N8n was publicly exposed, which could have disclosed internal configuration details and sensitive application information.
  reference:
    - https://github.com/n8n-io/n8n
  tags: n8n,config,exposed,vuln
  created: 2026/01/08

rules:
  r0:
    request:
      method: GET
      path: /rest/settings
      headers:
        Content-Type: application/json
    expression: |
      response.status == 200 && 
      response.body.bcontains(b'isDocker') &&
      response.body.bcontains(b'databaseType') &&
      response.body.bcontains(b'nodeJsVersion') &&
      response.body.bcontains(b'versionCli') &&
      response.body.bcontains(b'instanceId') &&
      response.headers['content-type'].icontains('application/json')
expression: r0()
