input[type=number].svelte-6v376b::-webkit-outer-spin-button,input[type=number].svelte-6v376b::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}input[type=number].svelte-6v376b{-moz-appearance:textfield;appearance:textfield}
