.monaco-editor-container.svelte-1fjt936{position:relative}.monaco-editor{font-family:JetBrains Mono,Fira Code,Consolas,Monaco,monospace!important}.monaco-editor .margin{background-color:transparent!important}
